.wall.hex {
  fill: rgb(63, 63, 63);
}

.free.hex {
  fill: rgb(191, 191, 191);
}

.start.hex {
  fill: rgb(32, 191, 0);
}

.end.hex {
  fill: rgb(191, 0, 0);
}

.queued.hex {
  fill: rgb(127, 127, 191);

}

.visited.hex {
  fill: rgb(127, 191, 191);
}

.path.hex {
  fill: rgb(191, 191, 127);
}

.hex {
  cursor: pointer;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.2;
  
  position: absolute;
}

.hex:hover {
  fill-opacity: 0.5;
}