.wall.hex {
  fill: rgb(63, 63, 63);
}

.free.hex {
  fill: rgb(191, 191, 191);
}

.start.hex {
  fill: rgb(32, 190, 0);
}

.end.hex {
  fill: rgb(190, 0, 0);
}

.hex {
  cursor: pointer;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.2;
  
  position: absolute;
}

.hex:hover {
  fill-opacity: 0.5;
}