.settings {
    display: flex;

    height: 100px;
    width: 100%;
    background: black;
    color: white;

    align-items: center;
    gap: 20px;
    padding-left: 20px;
    
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}